body{
  background-color: green;
}
.container {
  font-family: Georgia, serif;
  display: flex;
  width: 600px;
  margin: 0 auto 40px;
  background-color: rgb(255, 113, 0);
  box-shadow: 5px 5px 20px 5px red;
}
.todolist{
  border-style: solid;
  border-right: 0px;
  width: 200px;
}
.editor{
  font-family: Georgia, serif;
  text-align: right;
  border-style: solid;
  width: 400px;
  overflow: hidden;
}

.add{
}
.search_edit {
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 30px;
}

input[type=text] {
  width: 376px;
  padding: 10px;
}

button {
  width: 400px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover{
  transform: scale(1.1, 1.1);
}

.todo {
  padding-left: 0;
  margin-top: 0;
}

.todo li {
  padding: 15px;
  list-style-type: none;
}

.todo li:not(:last-child) {
  border-bottom: 1px solid #000;
}

